<div class="center hero-unit">
  <h1>Asap к нам в магазин</h1>

  <h2>
    Здесь будет слайдер. Честное слово
  </h2>

  <%= link_to "Asap регистрируйся!", signup_path, class: "btn btn-large btn-primary" %>
</div>

