
<footer class="footer">
  <small>
    This app
    by Asap Crap man
  </small>
  <nav>
    <ul>
      <li><%= link_to "О нас",   about_path %></li>
      <li><%= link_to "Контакты", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">Новоти</a></li>
    </ul>
  </nav>
</footer>
  