<header class = "navbar navbar-fixed-top navbar-inverse">
	<div class="navbar">
		<div class="container">
			<%= link_to "Asap Shop", root_path, id: "logo" %>
			<nav>
				<ul class = "nav">
					<li><%= link_to "Asap_home", 	root_path %></li>
					<li><%= link_to "Asap_us", 	about_path %></li>
					<li><%= link_to "Asap_reg",'#' %></li>
				</ul>
			</nav>
		</div><!--/container-->
	</div><!--/navbar-->
</header>